{% extends 'base.html.twig' %}

{% block title %}Edit FormeLegale{% endblock %}

{% block body %}
    <h1>Edit FormeLegale</h1>

    {{ include('forme_legale/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('forme_legale_index') }}">back to list</a>

    {{ include('forme_legale/_delete_form.html.twig') }}
{% endblock %}
