{% extends 'base.html.twig' %}

{% block title %}New TypeTitle{% endblock %}

{% block body %}
    <h1>Create new TypeTitle</h1>

    {{ include('type_title/_form.html.twig') }}

    <a href="{{ path('type_title_index') }}">back to list</a>
{% endblock %}
